.pick {
  margin-top: 5px;
  padding: 5px;
  background: #222;
  border-radius: 6px;
  font-size: 12px;   /* dar mažesnis */
}

.top-card {
  background: #16261c;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 2px solid #00ff88;
  font-size: 12px;   /* mažesnis TOP3 */
}

.top-card h3 {
  font-size: 14px;
  margin: 4px 0;
}
